/*



*/


/*fonts*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,900;1,400;1,500;1,700;1,900&display=swap');


/*colors: */

body {
    --bg-main: #e5e5e5; 
    --text-color: #0e1111;
    --second-color: #e5e5e5; 
    --second-text: #0e1111;
}






*,*:before,*:after {box-sizing:inherit;margin:0; padding:0; border:0 none; position: relative;}
html {
	background: var(--bg-main); 
	box-sizing:border-box;
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	color: var(--text-color); 
}


    body > article {
        display: flex; 
        flex-wrap: wrap; 
    }

    figure {
        background-color: var(--text-color); 
        width: calc( 50% + 1px); 
        height: 100vh; 
        margin: 0 auto 10vh 0; 
        position: sticky;
        top: 0;
        overflow: hidden; 
    }

    section {
        background-color: var(--bg-main); 
        width: calc(50% + 1px);
        height: 100vh;
        margin: 0 0 0 auto; 
        position: sticky; 
        top: 0;
        overflow: hidden;
        padding: 3vmin;
    }



    figure:nth-of-type(1),
    section:nth-of-type(1) {
        margin: 0 0 0 0;
        width: 50%;
    }
    figure:nth-of-type(2n) {
        margin: 0 0 0 auto;

    }
    figure:last-of-type,
    section:last-of-type {
        margin-bottom: none;
    }
    .section1 img {
        height: 50%; 
        width: 50%; 
    }
    .section2 img {
        height: 40%; 
        width: 40%; 
    }
    .section3 img {
        height: 28%; 
        width: 28%; 
    }
    .section4 img {
        height: 40%; 
        width: 40%; 
    }
    .section5 img {
        height: 40%; 
        width: 40%; 
    }
    .section6 img {
        height: 40%; 
        width: 40%; 
    }
    .section7 img {
        height: 30%; 
        width: 30%; 
    }

    

    figcaption {
        position: sticky; 
        bottom: 0;
        left: 0;  
         
        padding: 1rem;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-style: italic; 
        font-size: calc(.5vmin + .7vmax);
        color: white; 
        text-align: center; 
        background: rgba(0, 0, 0, 0.4);
    }

        figcaption a {
        color: white; 
        font-weight: bold;
        font-style: italic; 

    }


/* 	section:nth-of-type(2n):after {
		right: 5vmin;
		left: 45%;
    } */
    figure img {
        min-width: 100%;
        min-height: 100%;
        object-fit: contain; 
        object-position: center;
    }

    .figure1 {
        background: black url("/media/tetris first build.png") center no-repeat;
        background-size: contain; 
    }
    .figure2 {
        background: black url("/media/tetris nes cover.jpg") center no-repeat;
        background-size: contain; 
    }





    .figure3 {
        background: black url("/media/tetris creator.jpg") center no-repeat;
        background-size: contain; 
    }
    .figure4 {
        background: black url("/media/tetris arcade.jpg") center no-repeat;
        background-size: contain; 
    }
    .figure5 {
        background: black url("/media/tetris effect study.PNG") center no-repeat;
        background-size: contain; 
    }
    .figure6 {
        background: black url("/media/tetris effect.jpg") center no-repeat;
        background-size: auto; 
    }


    .figure7 {
        background: black url("/media/tetris final image.webp") center no-repeat;
        background-size: contain; 
    }



    section > div {
        display: flex; 
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 1rem; 
    }
    section h1, section h2 {
        margin: 5% 0 auto;
        font-size: 3rem; 
        font-family: 'Josefin Sans', sans-serif;
        text-align: center; 
        font-weight: 700;
        line-height: 1;
        word-spacing: .5rem;
    }
    p {
        text-align: right; 
        width: 100%;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 1.5rem; 
        margin-bottom: 5%; 
        line-height: 1.8rem;

    }
    h4 {
        text-align: right; 
        width: 100%;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-style: italic;
        font-size: 1.5rem; 
        margin-bottom: 5%; 

    }
    a {
        color: black;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        text-decoration: none;
    }
    ul {
        list-style: none;
    }
    li {
        color: black;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        text-decoration: none;
        font-size: 1rem;
        margin: .5rem 0; 
    }
    a:hover, a:focus {
        color: crimson; 
    }

    svg {
        width: 10rem;  
        height: 15rem;  
        z-index: 99;
        stroke: black; 
    }

    .section7 p, .section8 p {
        text-align: right; 
        width: 100%;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: calc(.5vmin + .9vmax);
        margin-bottom: 5%; 
    }

    .sources-resources, .credits {
        margin: 2rem 0; 
    }


    
.downwards-menu {
    
    
    width: 100%; 
    height: 50px; 
    background-color: var(--bg-main); 

    position: fixed;

    bottom: -50px; 

    transition: all 200ms linear; 
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.downwards-menu.active {
    bottom: 0px; 
}


.downwards-menu-toggle-btn {
    position: absolute; 
    left: 50%;  
    top: -50px; 
}
.downwards-menu-toggle-btn span {
    display: block;
    height: 5px; 
    background: #00B630;
    margin: 3px 0px; 
}

.downwards-menu-toggle-btn span:hover {
    cursor: pointer; 
}

.downwards-menu-toggle-btn-span1 {
    width: 30px; 
}

.downwards-menu-toggle-btn-span2 {
    width: 22.5px; 
}

.downwards-menu-toggle-btn-span3 {
    width: 7.5px; 
}

.downwards-menu-toggle-btn-span4 {
    width: 15px; 
}

.downwards-menu-links {
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    align-items: center; 
    align-content: center; 
}

.downwards-menu-links li {
    list-style: none; 
    padding: 15px; 
    font-family: 'Raleway', sans-serif;
    font-weight: 400; 
}

.downwards-menu-links a {
    color: var(--main-color); 
    text-decoration: none; 
}











/*tetris game style here: */

.section9 {
    display: flex; 
    flex-direction: column; 
}

.section9 h1 {
    margin: 10px; 
    font-size: calc(1vmin + 2vmax);
}

.container {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: center; 
    
}

.game_start {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: center;
}

.game_start button {
    margin: 0 10px; 
}

.mobile-controls {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    align-content: center; 
    justify-content: center;
}

.mobile-controls button{
    height: 2rem; 
    width: 8rem; 
    color: red;
    font-family: 'Raleway', sans-serif;
    font-weight: 500; 
    margin: 5px 5px; 
}

.mobile-controls-up-right {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    align-content: center; 
    justify-content: center;
}

.container h1 {
    text-align: right; 
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: calc(.05vmin + .25vmax);
    margin-bottom: 5%; 
}

.grid {
    width: 240px; 
    height: 480px;
    display: flex;
    flex-wrap: wrap; 
    background-color: var(--bg-main);
    background-color: black; 
    margin: 0 10px; 
}

.grid div {
    height: 24px;
    width: 24px; 
/*     background-color: red;  */
}

.controls_help p {
    text-align: center; 
    font-size: calc(.5vmin + .6vmax);
    margin: 10px 0rem; 
}

.tetromino {
    background-color: blue; /*TEMPORARY*/
}

.mini-grid {
    margin-top: 10px; 
    width: 96px; 
    height: 96px;
    display: flex; 
    flex-wrap: wrap;
    background-color: white; /*temporary*/
}

.mini-grid div {
    height: 24px;
    width: 24px; 
}




/*SMARTPHONE QUERY*/

@media only screen and (max-width: 600px) {

    figure {
        width: 100%;
    }

    section {
        width: 100%;
    }

    figure:nth-of-type(1),
    section:nth-of-type(1) {
        width: 100%;
    }

    .section1 h1::after {
        right: 17%; 
        bottom: -20vmin;
    }

    .section2 h1::after {
        right: 30%; 
        bottom: -20vmin;
    }

    .section3 h1::after {
        right: 40%; 
        bottom: -18vmin;
    }

    .section4 h1::after {
        right: 21%; 
        bottom: -19vmin;
    }

    .section5 h1::after {
        right: 28%; 
        bottom: -20vmin;
    }

    .section6 h1::after {
        right: 25%; 
        bottom: -20vmin;
    }

    .section7 h1::after {
        right: 36%; 
        bottom: -20vmin;
    }

    h1, h2 {
        word-spacing: .2rem;
    }

    h3 {
        font-size: calc(1vmin + 1.5vmax);
        text-align: center; 
    }

    figcaption {
        font-size: calc(0.9vmin + 1.3vmax);
    }

    p {
        font-size: calc(1vmin + 1.3vmax);
        line-height: 1.2rem;
    }

    h4 {
        font-size: calc(1vmin + 1.7vmax);
    }

    h5 {
        font-weight: 500; 
        text-align: center;
    }

    li {
        font-size: calc(.9vmin + 1.2vmax);
        margin: 5px; 
    }



    .grid {
        width: 180px; 
        height: 360px;
        display: flex;
        flex-wrap: wrap; 
        background-color: var(--bg-main);
        background-color: black; 
    }

    .grid div {
        height: 18px;
        width: 18px; 

    }






    .mini-grid {
        width: 72px; 
        height: 72px;
        display: flex; 
        background-color: white; /*temporary*/
    /*     border: solid 1px black;  this fucks up the whole div, so NOPE*/ 
    }

    .mini-grid div {
        height: 18px;
        width: 18px; 
    }




}